data/
saved_models/
**/__pycache__
notebooks/.ipynb_checkpoints
notebooks/.virtual_documents
logs/
extra/
assets/
results/
dum/saved_models
dum/data
dum/logs
dum/results
dum/.ipynb_checkpoints/
dum/utils/.ipynb_checkpoints/
dum/utils/*.pth
dum/notebooks/pngs/
dum/_cache_datalsuntestlmdb
.vscode/